/.editorconfig
/.env
/.git
/.gitattributes
/.github
/.gitignore
/.styleci.yml
/AGENTS.md
/CHANGELOG.md
/CODE_OF_CONDUCT.md
/UPGRADE.md
/docker-compose*
/Dockerfile
/node_modules
/vendor
/.ai
/.claude
/.codex
/.cursor
/.kilocode
/packages
/storage/framework/cache
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/storage/logs
/storage/debugbar
